html,
body {
    height: 100%;   
}

body {
    background-color: $body-bg;
    font-family: 'Roboto Slab', serif;
    font-weight: 400; 
    line-height: 1;
    color: $default;
    min-width: 320px;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.none {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



