@media (max-width: 1230px) { 
    .products-block__list {
        gap: 1.125rem;
    }
    .catalog__filter {
        margin-right: 1.125rem;
    }
}
@media (max-width: 1199.98px) { 

}
@media (max-width: 1030px) {
    .moto-news__list {
        gap: 1.125rem;
    }
}
@media (max-width: 991.98px) { 
    .top-header {
        order: 1;
    }
    .navigation {
        display: none;
    }
    .top-header__users-wrapper {
        justify-content: center;
    }
    .user {
        margin-right: 1.125rem;
        &:last-child {
            margin-right: 0;
        }
    }
    .user__icon {
        margin-right: 0;
    }
    .user__label {
        display: none;
    }
    .mobile-nav-button {
        display: flex;
    }
    .spoiler-arrow::before {
        display: block;
    }
    .footer__content {
        padding: 1.875rem 0;
    }
    .footer__social-info {
        margin-bottom: 1.875rem;
    }
    .footer-nav__label {
        cursor: pointer;
    }
    .footer-nav__content {
        margin-bottom: 0.625rem;
    }
    .partners {
        display: none;
    }
    .motomir {
        padding: 1.875rem 0;
    }
    .popular-products {
        padding: 0;
    }
    .popular-products__item {
        flex: 0 1 50%;
        padding: 0.625rem 0.625rem;
    }
    .product-card__article {
        margin-bottom: 0.3125rem;
    }
    .sorting {
        padding: 0.4375rem 0;
    }
    .sorting__btn {
        min-height: 1.875rem;
        padding: 0.3125rem 1.125rem;
    }
    .moto-news {
        padding: 1.125rem 0 1.875rem 0;
    }
    .moto-news__title {
        margin-bottom: 1.875rem;
    }
    .moto-news__list {
        margin-bottom: 1.875rem;
    }
    .products-block__list {
        gap: 0.9375rem;
        grid-template-columns: repeat(auto-fit,minmax(min-content,48%));
    }
    .catalog__filter {
        margin-right: 0.9375rem;
    }
    .card-block__title {
        font-size: 1.75rem;
    }
    .feature-bottom {
        padding: 1.875rem 0;
    }
    .articles__inner,
    .blog-article__inner {
        flex-direction: column-reverse;
    }
    .articles__news,
    .blog-article__product {
        margin-right: 0;
    }
    .articles__aside,
    .blog-article__aside {
        width: 100%;
    }
    .aside-article {
        padding: 0 0 1.875rem 0;
    }
    .contacts__inner {
        flex-direction: column-reverse;
    }
    .contacts__map {
        margin-right: 0;
    }
    .contacts__content {
        margin-bottom: 1.875rem;
    }
}

@media(max-width: 850px) {
    .footer-nav {
        flex-direction: column;
    }
    .footer-nav__list {
        margin: 0;
    }
    .footer-nav__label::before {
        display: block;
    }
    .footer-nav__spoiler {
        display: none;
    }
}

@media (max-width: 767.98px) { 
    .mobile-header-logo {
        display: block;
    }
    .top-header {
        padding: 1.875rem;
    }
    .top-header__inner {
        flex-direction: column;
        align-items: flex-end;
    }
    .top-header__logo {
        display: none;
    }
    .top-header__actions {
        margin: 0;
        align-self: stretch;
    }
    .search-form__input {
        height: 1.875rem;
    }
    .search-form__button {
        top: 0.375rem;
    }
    .top-header__users-wrapper {
        justify-content: flex-start;
    }
    .address-information__list {
        &--mobile {
            display: flex;
            align-items: baseline;
            margin-top: -1.6875rem;
            .address-information__label {
                display: none;
            }
            .address-information__item {
                margin: 0 1.125rem 0 0;
                &:last-child {
                    margin-right: 0;
                }
            }
            .address-information__icon {
                margin: 0;
            }
        }
    }
    .motomir {
        padding: 1.125rem 0;
    }
    .breadcrumbs {
        font-size: 1rem;
        padding: 0.9375rem 0;
    }
    .filter-title--spoiler-arrow::before {
        display: block;
    }
    .spoiler-show {
        display: none;
    }
    .catalog {
        padding-bottom: 2.5rem;
    }
    .catalog__filter-btn {
        display: block;
        align-self: flex-end;
        margin-bottom: 1.125rem;
    }
    .catalog__inner {
        flex-direction: column;
    }
    .filter {
        background-color: $dark-bg;
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 1.125rem;
        margin-bottom: 1.125rem;
        z-index: 5;
        width: 100%;
        padding: 1.875rem;
        font-size: 1rem;
        &.active {
            display: flex;
        }
    }
    .sorting {
        font-size: 1rem;
    }
    .products-block__list {
        gap: 1.5625rem;
    }
    .card-block {
        margin-top: 1.875rem;
    }
    .card-block__wrapper {
        flex-direction: column;
    }
    .card-block__images,
    .card-block__info {
        margin: 0 0 1.875rem 0;
    }
    .card-block__title {
        text-align: center;
    }
    .card-block__buttons {
        justify-content: center;
    }
    .card-block__article,
    .card-block__color,
    .card-block__price {
        margin-bottom: 1.125rem;
    }
    .feature-bottom__inner {
        flex-direction: column;
    }
    .feature-bottom__characteristics {
        margin-bottom: 1.125rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .card-block__title {
        font-size: 1.5rem;
    }
    .aside-article__search,
    .aside-article__category {
        margin-bottom: 1.875rem;
    }
    .registration__title,
    .restore-password__title,
    .busket__title {
        margin-bottom: 0.9375rem;
    }
    .registration__description,
    .restore-password__description,
    .busket__description {
        margin-bottom: 2.1875rem;
    }
    .label-block {
        max-width: 70%;
    }
    .restore-password__label {
        padding-bottom: 1.875rem;
    }
    .motomir__text,
    .catalog__text,
    .card-block__text,
    .article__text-box,
    .article__text,
    .motoservices__text,
    .motoservices__content-text {
        font-size: 0.875rem;
    }
    .title {
        font-size: 1.125rem;
    }
    .card-block__text,
    .feature {
        margin-bottom: 1.125rem;
    }
    .login__buttons {
        flex-direction: column;   
    }
    .login__btn {
        margin: 0 0 0.9375rem 0;
    }
    
}

@media (max-width: 654px) {
    .products-block__list {
        gap: 0.9375rem;
    }
    .article__text-box {
        max-height: 9.0625rem;
    }
    .article-pagination {
        text-align: center;
    }
    .article-pagination__list {
        display: inline-flex;
    }
    .article-pagination__label {
        display: none;
    }
    .article {
        margin: 0 -0.9375rem;
    }

}

@media (max-width: 575.98px) { 
    .top-header__container {
        padding: 0;
    }
    .footer__social-info {
        flex-direction: column;
    }
    .footer__logo {
        margin-bottom: 1.125rem;
    }
    .footer__info-content {
        flex-direction: column;
        align-items: center;
    }
    .footer__contacts {
        margin: 0 0 1.125rem 0;
    }
    .footer__contacts {
        text-align: center;
    }
    .address-information__link {
        display: inline-block;
    }
    .footer__copyright {
        padding: 1.125rem 0;
    }
    .btn-busket,
    .link {
        font-size: 1rem;
        min-height: 1.875rem;
        min-width: 10rem;
    }
    .btn, .btn--small {
        font-size: 1rem;
        min-height: 1.875rem;
    }
    .card-block {
        margin-top: 0.9375rem;
    }
    .card-block__img {
        height: 16.875rem;
    }
    .feature {
        margin-bottom: 1.125rem;
    }
    .article__image,
    .article__img {
        height: 17rem;
    }
    .article__content {
        border-radius: 0;
        padding: 1.125rem 0.9375rem;
    }
    .comments__top {
        margin-bottom: 1.5625rem;
    }
    .label-block {
        max-width: 80%;
    }
    .login__help {
        flex-direction: column;
        margin-bottom: 0.9375rem;
    }
    .login__checkbox-label {
        margin: 0;
    }
    .motoservices__content-item {
        padding: 0.9375rem;
    }
}

@media (max-width: 460px) {
    .products-block__list {
        grid-template-columns: repeat(auto-fit,minmax(min-content, 100%));
    }
    .article__text-box {
        max-height: none;
        margin-bottom: 0;
        overflow: visible;
    }
    .article__text {
        margin: 1.5625rem 0;
    }
    .articles {
        .article__info {
            display: none;
        }
    }
    .comments-top__img {
        display: none;
    }
    .comments-top__item {
        padding: 0.9375rem;
    }
    .comments-bottom__inputs {
        display: block;
    }
    .comments-bottom__label {
        margin: 0;
    }
    .comments-bottom__input {
        margin-bottom: 0.625rem;
    }
}

@media (max-width: 400px) {
    .popular-products__list {
        flex-direction: column;
    }
    .sorting-btn {
        min-height: 1.875rem;
    }
    .btn {
        padding: 0.3125rem 3.75rem;
    }
    .card-block__images {
        margin: 0 0 0.625rem 0;
    }
    .card-block__buttons {
        flex-direction: column;
    }
    .card-block__btn {
        margin: 0 0 0.625rem 0;
    }
    .card-block__title {
        font-size: 1.25rem;
    }
    .card-block__img {
        height: 14.375rem;
    }
    .article__image,
    .article__img {
        height: 13rem;
    }
    .blog-article {
        .article__info {
            flex-direction: column-reverse;
        }
    }
    .article__text {
        margin-bottom: 0.9375rem;
    }
    .article__author {
        display: block;
        margin-bottom: 0.3125rem;
    }
    .comments-bottom__btn {
        width: 100%;
    }
    .comments-bottom__inputs,
    .comments-bottom__textarea {
        margin-bottom: 0.3125rem;
    }
    .comments-bottom__title {
        margin-bottom: 0.9375rem;
    }
}

@media (max-width: 340px) {
    .moto-news__container {
        width: 100%;
        padding: 0;
    }
    .news-card {
        border-radius: 0;
    }
}