.aside-article {
    font-family: 'Scada', sans-serif;
    font-size: 1.125rem;
    padding: 0 1.875rem 1.875rem 1.875rem;
    &__search {
        margin-bottom: 2.5rem;
    }
    &__category {
        margin-bottom: 2.5rem;
    }
}