.blog-article {
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__product {
        flex: 0 1 48.75rem;
        margin-right: 1.875rem;
    }
    &__aside {
        flex: 0 0 30%;
    }
}