.btn-busket {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 2.5rem;
    background-color: #0B9D1A;
    color: $default;
    padding: 0.3125rem;
    min-width: 11.25rem;
    font-family: 'Scada', sans-serif;
    font-size: 1.125rem;
    border-radius: 1.875rem;
    transition: background-color .5s;
    &:hover {
        background-color: #16b426;
    }
    &__icon {
        margin-right: 0.625rem;
    }
}
