.card-block {
    font-family: 'Scada', sans-serif;
    margin-top: 3.75rem;
    &__info {
        margin-bottom: 3.75rem;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__images {
        flex: 0 0 46%;
        margin-right: 1.875rem;
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
    }
    &__img {
        height: 18.375rem;
        object-fit: contain;
        display: none;
        &.active {
            display: block;
        }
    }
    &__content {
        flex: 0 0 35%;
    }
    &__title {
        @extend %title-font;
        font-size: 2rem;
        line-height: 1.25;
        margin-bottom: 0.625rem;
    }
    &__article {
        display: inline-block;
        font-family: 'Scada', sans-serif;
        margin-bottom: 2.1875rem;
    }
    &__color {
        display: flex;
        justify-content: space-between;
        font-family: 'Scada', sans-serif;
        margin-bottom: 2.1875rem;
    }
    &__size {
        margin-bottom: 2.1875rem;
    }
    &__price {
        @extend %title-font;
        font-size: 1.25rem;
        display: inline-block;
        margin-bottom: 2.1875rem;
    }
    &__text {
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        line-height: 1.8;
        margin-bottom: 2.5rem;
        p + p {
            margin-top: 0.625rem;
        }
    }
    &__buttons {
        display: flex;
    }
    &__btn {
        margin-right: 0.625rem;
    }
}



