.catalog {
    padding-bottom: 3.75rem;
    &__inner {
        display: flex;
    }
    &__filter {
        flex: 0 0 23%;
        margin-right: 1.875rem;
    }
    &__products {
        flex: 0 1 75%;
    }
    &__text {
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        line-height: 1.8;
        p + p {
            margin-top: 0.9375rem;
        }
    }
    &__filter-btn {
        display: none;
    }
}