.comments-top {
    &__title {
        @extend %title-font;
        font-size: 1.125rem;
        margin-bottom: 1.5625rem;
    }
    &__item {
        background-color: $grey-bg;
        border-radius: 0.1875rem;
        padding: 1.25rem 1.5625rem;
        & + & {
            margin-top: 0.625rem;
        }
    }
    &__name {
        display: block;
        @extend %title-font;
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
    }
    &__text {
        margin-bottom: 0.625rem;
        font-weight: 300;
        line-height: 1.8;
        p + p {
            margin-top: 0.625rem;
        }
    }
    &__date {
        display: block;
        font-family: 'Scada', sans-serif;
        font-size: 0.875rem;
    }
}