.contacts {
    padding-bottom: 2.8125rem;
    .social__list {
        justify-content: flex-start;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__map {
        flex: 0 1 54%;
        margin-right: 1.875rem;
    }
    &__content {
        flex: 0 1 40%;
    }
    &__title {
        text-align: left;
        margin-bottom: 1.5625rem;
    }
    &__info {
        margin-bottom: 1.875rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__label {
        @extend %title-font;
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
    }
    &__text {
        font-family: 'Scada', sans-serif;
        font-size: 1.125rem;
        line-height: 1.5;
    }
}