.feature-bottom {
    font-size: 1.125rem;
    line-height: 1.3;
    display: none;
    background-color: $grey-bg;
    padding: 3.125rem 0;
    position: relative;
    left: 0;
    right: 0;
    &.active {
        display: block;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__characteristics {
        flex: 0 0 30%;
        p {
            font-weight: 300;
        }
        p + p {
            margin-top: 0.4375rem;
        }
    }
    &__characteristics-title {
        @extend %title-font;
        font-size: 1.125rem;
        margin-bottom: 0.9375rem;
    }

}