.feature-top {
    padding: 1.125rem 0;
    background-color: $dark-bg;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        @extend %title-font;
        font-size: 1.125rem;
        margin-right: 1.125rem;
    }
    &__btn {
        width: 1.125rem;
        height: 1.125rem;
        border: 0.0625rem solid #FFFFFF;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &.open {
            .feature-top__sircle {
                transform: translate(-50%, -50%) rotate(0);
            }
        }
    }
    &__sircle {
        width: 0.625rem;
        height: 0.0625rem;
        background-color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(0);
        & + & {
            transform: translate(-50%,-50%) rotate(90deg);
        }
    }
}
