.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 2.5rem;
    font-family: 'Scada', sans-serif;
    font-size: 1.125rem;
    color: $default;
    background-color: $red; 
    padding: 0.3125rem;
    min-width: 11.25rem;
    border-radius: 1.875rem;
    transition: background-color .5s;
    &:hover,
    &:focus,
    &:active {
       background-color: $dark-bg;
    }
}