.motoservices {
    padding-bottom: 3.125rem;
    &__title {
        margin-bottom: 1.5625rem;
    }
    &__text,
    &__content-text {
        font-weight: 300;
        line-height: 1.8;
        p + p {
            margin-top: 0.625rem;
        }
    }
    &__text {
        margin-bottom: 1.125rem;
    }
    &__tabs {
        margin-bottom: 1.125rem;
    }
    &__content-item {
        display: none;
        background-color: $grey-bg;
        padding: 1.875rem;
        border-radius: 1.125rem;
        ul {
            padding: 0.3125rem 0 0.625rem 2.5rem;
            li {
                padding-left: 1.5625rem;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 0.4375rem;
                    height: 0.4375rem;
                    background-color: $red;
                    border-radius: 50%;
                    left: 0;
                    top: 0.625rem;
                }
            }
            li + li {
                margin-top: 0.625rem;
            }
        }
        &.active {
            display: block;
        }
    }
    &__content-subtitle {
        padding: 1.125rem 0;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}