.popular-products {
    padding: 4.0625rem 0;
    font-family: 'Scada', sans-serif;
    font-size: 1.125rem;
    &__title {
        text-align: left;
        margin-bottom: -1.5625rem;
    }
    &__btns {
        display: flex;
        position: absolute;
        top: 0.625rem;
        right: 0;
    }
}

.popular-products__slider .swiper-button-prev::after,
.popular-products__slider .swiper-button-next::after {
    display: none;
}

.popular-products__slider.swiper-container {
    padding: 2.5rem 0;
}

.popular-products__slider .swiper-button-prev,
.popular-products__slider .swiper-button-next {
    position: static;
}

.popular-products__slider .swiper-button-prev {
    margin-right: 0.625rem;
}