.product-card {
    font-family: 'Scada', sans-serif;
    font-size: 1rem;
    position: relative;
    background-color: #fff;
    border-radius: 1.125rem;
    padding: 0.625rem;
    color: #000;
    box-shadow: none;
    transition: box-shadow .7s ease-out;
    &:hover {
        box-shadow: -0.125rem 0.125rem 1.1875rem 0.0625rem #FFCBCB;
        .product-card__overlay {
            opacity: 1;
        }
    }
    &__img {
        height: 9.375rem;
        display: flex;
        justify-content: center;
        margin-bottom: 0.625rem;
        img {
            height: 9.375rem;
            object-fit: contain;
        }
    }
    &__info {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    &__title {
        text-align: center;
    }
    &__article {
        display: block;
        font-size: 0.875rem;
        color: $body-bg;
        margin-bottom: 1.125rem;
    }
    &__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.9375rem;
    }
    &__text {
        font-size: 0.875rem;
        color: $body-bg;
    }
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #fae7e6, $alpha: .8);
        border-radius: 1.125rem;
        opacity: 0;
        transition: opacity .5s ease-out;
    }
    &__overlay-link {
        margin-bottom: 0.9375rem;
    }
}

