.social {
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item:not(:last-child) {
        margin-right: 0.625rem;
    }
    &__link-icon circle {
        stroke: #fff; 
        transition: all 0.5s ease;
    } 
    &__link {
        &:hover,
        &:active,
        &:focus {
            .social__link-icon {
                circle {
                    stroke: $red-hover;
                }
            }
        }
    }
}