.tags {
    font-family: 'Scada', sans-serif;
    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
    }
    &__item {
        display: inline-block;
        margin: 0 0.3125rem 0.3125rem 0;
        &:last-child {
            margin: 0;
        }
    }
    &__link {
        font-size: 1.125rem;
        border: 0.0625rem solid #FFFFFF;
        border-radius: 1.875rem;
        min-width: 8.4375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.3125rem 0.625rem;
    }
}