.address-information {
    font-size: inherit;
    font-family: inherit;
    &__item + &__item {
        margin-top: 0.625rem;
    }
    &__link {
        display: flex;
        &:hover,
        &:active,
        &:focus {
            .address-information__icon {
                path, rect {
                    stroke: $red-hover;
                }
            }
        }  
    }
    &__icon {
        margin-right: 0.625rem;
        path, rect {
            transition: all 0.5s ease;
            stroke: #fff;
        }
        &--right {
            order: 1;
            margin: 0 0 0 0.625rem;
        }
    }
    &__schedule {
        margin-top: 1.25rem;
    }

}