.search-form {
    font-family: 'Scada', sans-serif;
    font-size: inherit;
    color: $default;
    position: relative;
    &__input {
        width: 100%;
        border: 1px solid #FFFFFF;
        background-color: transparent;
        color: $default;
        border-radius: 1.875rem;
        height: 2.5rem;
        padding: 0.5rem 0.9375rem;
        &:hover,
        &:active,
        &:focus {
            box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
        }
    }
    &__button {
        position: absolute;
        top: 0.625rem;
        right: 0.9375rem;
    }
    &__icon path{
        fill: #fff;
    }
}