section.moto-news 
    .moto-news__container.container 
        h2.moto-news__title.title Новости и статьи
        ul.moto-news__list 
            li.moto-news__item 
                +news-card("news-1.png", "Мотоцикл Stels 600 Benelli", "Обзор мотоцикла Stels 600 Benelli", "2022-09-10", "10. 09. 2022")
                    .news-card__preview 
                        p Dakar 250 – это полноценный эндуро-мотоцикл, предназначенный для эксплуатации на дорогах общего пользования и на бездорожье: горной местности, песках и грязи.
            li.moto-news__item 
                +news-card("news-2.png", "Мотоцикл Baltmotors Dakar 250 E", "Новый Baltmotors Dakar 250 E", "2022-09-10", "10. 09. 2022")
                    .news-card__preview 
                        p Dakar 250 – это полноценный эндуро-мотоцикл, предназначенный для эксплуатации на дорогах общего пользования и на бездорожье: горной местности, песках и грязи.
            li.moto-news__item 
                +news-card("news-3.png", "Мотоцикл", "Зимнее хранение мотоцикла", "2022-09-01", "01. 09. 2022")
                    .news-card__preview
                        p Мы предлагаем услугу зимнего хранения Вашего мотоцикла. Стоимость услуги 2000 руб. за месяц хранения, расчет по дням. В эту стоимость входит доставка мотоцикла до места хранения на нашем оборудованном транспорте. 
            li.moto-news__item 
                +news-card("news-4.png", "Кроссовый мотоцикл", "Виды кроссовых мотоциклов", "2022-08-25", "25. 08. 2022")
                    .news-card__preview 
                        p На кроссовых мотоциклах регулярно проводятся соревнования по гонкам на пересеченной местности. Данные мотоциклы выделяются в отдельный класс, прежде всего по объему двигателя.
            li.moto-news__item 
                +news-card("news-5.png", "Мотоцикл Wels 250cc", "Нужен ли спортбайк в городе?", "2022-08-17", "17. 08. 2022")
                    .news-card__preview 
                        p Многие новички хотят приобрести себе именно спортивный мотоцикл, а не классику. Но они едва ли задумываются о том, будет ли такой байк удобен для них в пределах города. Разбираемся вместе в этой статье.
            li.moto-news__item 
                +news-card("news-6.png", "Чоппер Wels", "Как выбрать чоппер?", "2022-08-11", "11. 08. 2022")
                    .news-card__preview 
                        p С самого начала Вы должны дать четкий ответ на вопрос: какой объем двигателя Вас интересует? Многие рекомендуют подбирать байк с крупным мотором, но удобно ли это будет для новичка? 
        .moto-news__btn 
            a(href="articles.html").btn Все новости 