section.motomir 
    .container 
        h1.title.motomir__title Мото-Мир - магазин китайской мототехники в Иванове
        +paragraph("motomir__text", "Компания Мото-Мир предлагает широкий выбор новой и б/у мототехники для активного отдыха и спорта от мировых китайских производителей: Lifan, Baltmotors, Irbis, Stels, Wels, Racer, MotoLand и др. На сайте нашей компании вы сможете познакомиться с полным перечнем не только предлагаемого товара, но и списком сопутствующих услуг.")
        h2.title.motomir__title Мото-Мир – мотоциклы, квадроциклы, снегоходы и гидроциклы в одном месте
        +paragraph("motomir__text", "На нашем сайте Вы найдете мотоциклы различной направленности: спортивные, дорожные, эндуро, кроссовые и др. Квадроциклы представлены отличными моделями повышенной проходимости по доступным ценам. Мото-Мир предлагает широкий выбор техники для любителей зимних видов спорта и развлечений – отличные снегоходы. Приобретая гидроциклы в нашей компании, вы получите отличную возможность для активного отдыха на воде.")