-const partners = [{ image: 'baltmotors.png', altText: 'Логотип Балтмоторс' }, { image: 'wels.png', altText: 'Логотип Уэллс' }, { image: 'racer.png', altText: 'Логотип Рэйсер' }, { image: 'stels.png', altText: 'Логотип Стелс' }, { image: 'irbis.png', altText: 'Логотип Ирбис' }]

+partners(partners)