section.popular-products 
    .container 
        h2.popular-products__title.title Популярные
        .popular-products__slider.swiper-container
            .swiper-wrapper 
                .swiper-slide 
                    .products-block__card
                        +product-card("1.jpg", "IRBIS VIRAGO", "IRBIS VIRAGO", "Артикул: 17931", "2021", "В наличии", "25 000 руб.", "Подробнее", "В корзину")
                .swiper-slide 
                    .products-block__card
                        +product-card("3.jpg", "IRBIS TTR 110", "IRBIS TTR 110", "Артикул: 17931", "2021", "В наличии", "36 500 руб.", "Подробнее", "В корзину")
                .swiper-slide 
                    .products-block__card
                        +product-card("2.jpg", "Racer VIPER", "Racer VIPER", "Артикул: 17931", "2021", "В наличии", "32 600 руб.", "Подробнее", "В корзину")
                .swiper-slide
                    .products-block__card 
                        +product-card("4.jpg", "Motoland CRF 10", "Motoland CRF 10", "Артикул: 17931", "2021", "В наличии", "40 000 руб.", "Подробнее", "В корзину")
                .swiper-slide 
                    .products-block__card
                        +product-card("5.jpg", "Racer SKYWAY", "Racer SKYWAY", "Артикул: 17931", "2021", "В наличии", "45 000 руб.", "Подробнее", "В корзину")
                .swiper-slide 
                    .products-block__card
                        +product-card("6.jpg", "Irbis ttr 125", "Irbis ttr 125", "Артикул: 17931", "2021", "В наличии", "54 000 руб.", "Подробнее", "В корзину")
            .popular-products__btns 
                .swiper-button-prev 
                    +arrow-btn("prev-arrow.svg", "Кнопка назад")
                .swiper-button-next
                    +arrow-btn("next-arrow.svg", "Кнопка вперед")