include ./../mixins/user.pug
include ./../mixins/dropdown.pug
include ./../mixins/navlink.pug
include ./../mixins/paragraph.pug
include ./../mixins/partners.pug
include ./../mixins/product-card.pug
include ./../mixins/arrow-btn.pug
include ./../mixins/news-card.pug